{templateType App\Module\Front\Article\ArticleTemplate}
{block content}
<div class="container">
    <h2 n:block="title">{$article->getTitle()}</h2>
    <p class="text-muted">{$article->getAuthor()}, <i>{$article->getCreatedAt()->format('Y-m-d H:i:s')}</i> <a n:if="$user->isLoggedIn()" n:href=":Admin:Article:edit $article->getSlug()">[edit]</a></p>
    <p>{$article->getContent()|noescape}</p>
    <p class="text-muted">last changed at <i>{$article->getUpdatedAt()->format('Y-m-d H:i:s')}</i></p>
</div>
