{templateType App\Module\Admin\Dashboard\DashboardTemplate}
{block content}
<div class="container">
    <h2>Dashboard</h2>
    <p>There is nothing to see, try to <a n:href="Article:default">create an article</a> or <a n:href=":Front:Homepage:default">return to the homepage</a></p>
</div>
